<hr>

<div class="container">
  <div class="header-links">
    <a target="_blank" href="https://amzn.to/3ALPy6F"><img src="{{ site.url }}/assets/ab01.jpeg" alt="Give the Gift of Amazon Prime" width="150" height="125"></a>
    <a target="_blank" href="https://amzn.to/3QfX1AK"><img src="{{ site.url }}/assets/ab02.jpeg" alt="Try Amazon Prime 30-Day Free Trial" width="150" height="125"></a>
    <a target="_blank" href="https://amzn.to/3APgUZA"><img src="{{ site.url }}/assets/ab03.png" alt="Try Audible Plus" width="150" height="125"></a>
    <a target="_blank" href="https://amzn.to/3RhvhwK"><img src="{{ site.url }}/assets/ab04.jpg" alt="Create Amazon Business Account" width="150" height="125"></a>
    <a target="_blank" href="https://amzn.to/3RDPpJr"><img src="{{ site.url }}/assets/ab05.png" alt="Kindle Unlimited Membership Plans" width="150" height="125"></a>
    <a target="_blank" href="https://amzn.to/3RpI8wG"><img src="{{ site.url }}/assets/ab06.jpeg" alt="Create an Amazon Wedding Registry" width="150" height="125"></a>
    <a target="_blank" href="https://amzn.to/3RzIPU9"><img src="{{ site.url }}/assets/ab07.png" alt="Audible Gift Memberships" width="150" height="125"></a>
    <a target="_blank" href="https://amzn.to/3RCo5LI"><img src="{{ site.url }}/assets/ab08.png" alt="Join Amazon Family 30-Day Free Trial" width="150" height="125"></a>
    <a target="_blank" href="https://amzn.to/3RBRjKi"><img src="{{ site.url }}/assets/ab09.jpeg" alt="Join Amazon Prime Music - The Only Music Streaming Service with Free 2-day Shipping - 30-day Free Trial" width="150" height="125"></a>
    <a target="_blank" href="https://amzn.to/3TGEhwX"><img src="{{ site.url }}/assets/ab10.jpeg" alt="Join Amazon Prime - Watch Thousands of Movies & TV Shows Anytime - Start Free Trial Now" width="150" height="125"></a>
    <a target="_blank" href="https://amzn.to/3ALPLqt"><img src="{{ site.url }}/assets/ab11.jpeg" alt="Prime Student 6-month Trial" width="150" height="125"></a>
    <a target="_blank" href="https://amzn.to/3RrWNaQ"><img src="{{ site.url }}/assets/ab12.jpeg" alt="Shop Amazon - Create an Amazon Baby Registry" width="150" height="125"></a>
    <a target="_blank" href="https://amzn.to/3cKvycw"><img src="{{ site.url }}/assets/ab13.jpg" alt="Sign up for Personal Shopper by Prime Try Before You Buy" width="150" height="125"></a>
    <a target="_blank" href="https://amzn.to/3TFuJ5y"><img src="{{ site.url }}/assets/ab14.jpg" alt="Find the perfect fit with Prime Try Before You Buy" width="150" height="125"></a>
  </div>
</div>
