<header>
  <div>
    <a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}">
    {% assign owner_first_name = site.owner | split: " " %}
    <h1>{{ site.description }}:~$</h1>
    </a>
    <div class="header-links">
      {% include links.html %}
    </div>
    <div align="center">My global coding competitions history is <a href="https://serhatgiydiren.github.io/coding-competitions">here</a></div>
    <div align="center">Drop me a line at <a href="mailto:serhatgiydiren@gmail.com">here</a>!</div>
    <br>
    <div align="center">:point_right: <a href="https://serhatgiydiren.github.io/best-resources-for-tech-interviews">Best resources for your upcoming <b>Coding and System Design Interviews</b></a></div>
  </div>
</header>
